body {
    background: #808080
}
img {
    width: 50%; 
    margin: 500px;
    margin-top: auto;
    border: solid black 10px 
}
h1 {
    font-family: 'Trebuchet MS';
    text-align: center;
    background: #808080;
    padding-top: 30px;
    margin: auto;
}

p {
    
    font-size: 50px;
}

h2 {
    font-size: 60px
}

strong {
    color: rgb(0, 0, 0)
}

#dfdgasdgfvcb {
    color: black
}

.itens {
    font-style: italic
}

h2 {
    text-align: center;
}

li {
    text-align: center;
    font-size: 50px;
}

.bbbbbbbbbbbbbbb {
    background: #808080;
    padding-top: 30px;
    margin: 50px;
}