body {
    background: #343838
}
h1 {
    text-align: center;
    border: 20px solid #ffffff;
    padding-top: 30px;
    margin: 50px;
}

strong {
    color: burlywood
}

#dfdgasdgfvcb {
    color: brown
}