body {
    background: #343838
}
h1 {
    text-align: center;
    border: 20px solid #ffffff;
    padding-top: 30px;
    margin: 50px;
}

p {
    font-size: 50px;
}

h2 {
    font-size: 60px
}

strong {
    color: burlywood
}

#dfdgasdgfvcb {
    color: brown
}

.itens {
    font-style: italic
}

li {
    font-size: 50px;
}

.bbbbbbbbbbbbbbb {
    background: #034444;
}